@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #0b0f14;
}

.container {
  @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8;
}

section {
  overflow: hidden;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
